spring:
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        show_sql: true
  thymeleaf:
    prefix:
      classpath: /templates/
    suffix: .html
    cache: true
    check-template-location: true

logging:
  level:
    org:
      hibernate:
        type:
          descriptor:
            sql: trace